.header {
    overflow: hidden;
    background-color: #004274;
    padding: 1px 10px;
    height: 63px;
    display: flex;
    flex-direction: row;
    position: relative;
    z-index: 3;
}

.hbtn {
    background: #c2048a;
    border: solid #c2048a;
    border-radius: 3px;
    float: right;
    color: white;
    margin: 12px;
    margin-left: 70%;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

.hbtn:hover:not(.active) {
    background: #86025f;
    border: solid #86025f;
    color: white;
}

#menub{
    background: none;
    border: none;
    cursor: pointer;
    margin: 12px;
    padding: 5px;
    
}

.menu {
    display: none; /* Hidden by default */
    position: fixed;
    margin-top: 63px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 62, 84, 0.95); /* Blue semi-transparent */
    z-index: 2;
}

.menulist{
    margin: 10px;
    margin: 0 100px;
    padding: 10px;
    text-align: left;
    height: fit-content;
    width: fit-content;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}
li a {
    display: block;
    color: gray;
    padding: 8px 0;
    text-decoration: none;
}

li a:hover:not(.active) {
    color: white;
}

.search{
    margin: -3px;
    margin-left: 51%;
}

.stex {
    border-radius: 3px;
    background-color: rgb(148, 168, 188) ;
    border-color: transparent;
    height: 30px;
    width: 250px;
}