body {
	background: no-repeat url(../image/vote.jpg);
	background-size: cover;
}

.btn {
    background: none;
    border: 2px solid green;
    border-radius: 18px;
    color: green;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover:not(.active) {
    background-color: gray;
    color: white;
}

.table {
    border-collapse: collapse;
    width: 100%;
}

.table td {
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: lightgray;
}

.table tr:nth-child(odd) {
    background-color: rgb(229, 229, 229)
}

.table th {
    padding: 8px;
    background-color: green;
    color: white;
}