body {
    margin: 0;
}

.header {
    overflow: hidden;
    background-color: lightgreen;
    padding: 1px 10px;
    display: flex;
    flex-direction: row;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 15px 2px;
    overflow: hidden;
}

li {
    float: left;
    margin: 2px
}

li a {
    display: block;
    border-radius: 18px;
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: green;
    color: white;
}

li a:hover:not(.active) {
    background-color: gray;
    color: white;
}

.lobtn {
    background: none;
    border: 2px solid green;
    border-radius: 20px;
    float: right;
    color: green;
    margin: 12px;
    margin-left: 58%;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

.lobtn:hover:not(.active) {
    background-color: gray;
    color: white;
}